<div class="container">
    <div class="row center-align" style="margin-top: 15em">
        <h1>Medication Management</h1>

        <%= link_to "Start", main_path, class: "waves-effect blue btn center-align" %>
    </div>
</div>
