<div class="container">
    <div class="row center-align" style="margin-top: 30%">
        <h1>Medication Management</h1>

        <%= link_to "Start", main_path, class: "waves-effect waves-light btn center-align" %>
    </div>
</div>
