<div class="container" style="margin-top: 5em">
    <div class="row center-align">
        <ul>
            <li><h4>Add a medication</h4></li>
            <%= link_to "Add", new_medication_path, class: "waves-effect blue btn center-align" %>
            <br>
            <br>
            <li><h4>Create a medication category</h4></li>
            <%= link_to "Create", new_medication_category_path, class: "waves-effect blue btn center-align" %>
            <br>
            <br>
            <li><h4>Add a school</h4></li>
            <%= link_to "Add", new_school_path, class: "waves-effect blue btn center-align" %>
            <br>
            <br>
            <li><h4>View a list of schools and medications</h4></li>
            <%= link_to "View", all_schools_path, class: "waves-effect blue btn center-align" %>
            <br>
            <br>
        </ul>
    </div>
</div>
